.slider-area {
    background-color: var(--primary-color);
    padding-top: 35px;
    padding-bottom: 35px;
}

@media (max-width: 575px) {

    .slider-area {
        background-image: url(../../../assets/banner/banner1.png);
        background-color: var(--primary-color);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.banner-phone-image img {
    width: 100%;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
}


.banner-subtitle {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .banner-title {
        font-size: 60px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-title {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .banner-title {
        font-size: 38px;
        line-height: 1.2;
        margin-bottom: 20px
    }
}

@media (max-width: 575px) {

    .banner-title {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px
    }

    .banner-subtitle {
        font-size: 16px;
        padding: 0 0px;
    }
}


.banner-slider {
    overflow: hidden;
    padding-bottom: 15px;
}


.banner-button {
    max-width: 150px;
}


















.services-area {
    width: 100%;
    margin-top: 15px;
}


.services-area .single-services {
    display: flex;
    box-shadow: 0px 1px 1px var(--off-white-color);
    padding: 18px 18px;
    border-radius: 20px;
    background: var(--off-white-color);
    margin-top: 5px;
}

.services-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 700;
}

.services-subtitle {
    font-size: 17px;
    line-height: 1.5;
    color: var(--black-matte-color);
    margin-bottom: 0;
}